<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <!--<hr class="star-light">-->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <img src="img/Speaking big.jpg" alt="About_image" class="img-fluid">
      </div>
      <div class="col-lg-6">
        <p class="small">My name is Kelly, and I am a strategic product designer dedicated to contributing to a sustainable 
          and innovative future through strategic design. I believe that whether a design is product- 
          or service-oriented, it should empower people to move towards a better future. Though the 
          future is dynamic and ever-changing, I am convinced that through teamwork and careful analysis 
          of companies, competitors, contexts, and consumers, a holistic vision can be developed to find the path 
          to achieving the desired outcomes.</p>

        <p class="small">My design journey began at Delft University of Technology in the Netherlands, 
          where I earned a Bachelor's degree in Industrial Design Engineering and a Master's in Strategic Product Design. 
          The Master's program emphasises a contextual approach to market and user integration, focusing on creating products 
          and services that are not only innovative but also feasible, usable, and desirable.</p>

        <p class="small">Studying at a technical university offered me a unique perspective, 
          blending rigorous technical knowledge with creative design thinking. 
          This combination has shaped my approach to design, where functionality and aesthetics meet real-world application.</p>

        <p class="small">During my Master's, I expanded my global perspective by studying abroad for a year. 
          I spent a semester in Milan at Politecnico di Milano, where I delved deeper into design and even published a paper. 
          I also studied Chinese at Fudan University in Shanghai, broadening my cultural understanding and perspective on the world.</p>

        <p class="small">During my studies, I challenged myself further by joining a Dream Team—a group of students who collaborate 
          for a year to design and build machines for competitions. My team developed two machines: a traditional electric race car 
          and an autonomous electric race car.</p>  

        <p class="small">In my free time, I like to seek new challenges and opportunities to expand my skill set. 
          I have become proficient in Adobe software, 3D modelling, and even ventured into areas outside my comfort zone, 
          like coding to create my own website. Beyond design, I enjoy activities that broaden my cultural awareness, 
          such as visiting museums and travelling, as well as sports and games that challenge my problem-solving skills. 
          These experiences have equipped me with the ability to quickly and effectively learn new skills</p>    
      </div>
    </div>
  </div>
</section>