<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">

            <h2>{{ post.title }}</h2>
            <br>
            <h4>{{ post.subtitle }}</h4>
            <!-- <hr class="star-primary">  -->
            {% if post.video%}
              <div class="video-container">
                <iframe width="560" height="315" src="{{ post.video }}" 
                  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
              </div>
              {% else %}
                <img src="{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% endif %}
            <br>

            {% if post.ProjectOverview %}
              <p style="text-align: left;">{{ post.ProjectOverview }}</p>
            {% endif %}

            <ul class="list-inline item-details">
              {% if post.client %}
              <li>Client:
                <strong>{{ post.client }}</strong>
              </li>
              {% endif %}
              {% if post.course%}
              <li>Course:
                <strong>{{ post.course }}</strong>
              </li>
              {% endif %}
              {% if post.team %}
              <li>Team:
                <strong>{{ post.team }}</strong>
              </li>
              {% endif %}
              {% if post.deliverables %}
              <li>Deliverables:
                <strong>{{ post.deliverables}}</strong>
              </li>
              {% endif %}
            </ul>
            <br>

            {% if post.H1 %}
              <h3>{{ post.H1}}</h3><br>
            {% endif %}
            {% if post.H1h1 %}
              <p style="text-align: left;margin-bottom: 0;"><b>{{ post.H1h1 }}</b></p>
            {% endif %}
            {% if post.H1h1text %}
              <p style="text-align: left;margin-top: 0;">{{ post.H1h1text}}</p>
            {% endif %}
            {% if post.H1h1img1 %}
              <div class="image-text-block">
                <img src="{{ post.H1h1img1 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H1h1img1text}}</i>
              </div>
            {% endif %}
            {% if post.H1h1img2 %}
              <div class="image-text-block">
                <img src="{{ post.H1h1img2 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H1h1img2text}}</i>
              </div>
            {% endif %}
            {% if post.H1h1img3 %}
              <div class="image-text-block">
                <img src="{{ post.H1h1img3 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H1h1img3text}}</i>
              </div>
            {% endif %}
            {% if post.H1h1img4 %}
              <div class="image-text-block">
                <img src="{{ post.H1h1img4 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H1h1img4text}}</i>
              </div>
            {% endif %}
            {% if post.H1h2 %}
              <p style="text-align: left;margin-bottom: 0;"><b>{{ post.H1h2 }}</b></p>
            {% endif %}
            {% if post.H1h2text %}
              <p style="text-align: left;margin-top: 0;">{{ post.H1h2text}}</p>
            {% endif %}
            {% if post.H1h2img1 %}
              <div class="image-text-block">
                <img src="{{ post.H1h2img1 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H1h2img1text}}</i>
              </div>
            {% endif %}
            {% if post.H1h2img2 %}
              <div class="image-text-block">
                <img src="{{ post.H1h2img2 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H1h2img2text}}</i>
              </div>
            {% endif %}
            {% if post.H1h2img3 %}
              <div class="image-text-block">
                <img src="{{ post.H1h2img3 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H1h2img3text}}</i>
              </div>
            {% endif %}
            {% if post.H1h2img4 %}
              <div class="image-text-block">
                <img src="{{ post.H1h2img4 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H1h2img4text}}</i>
              </div>
            {% endif %}
            {% if post.H1h3 %}
              <p style="text-align: left;margin-bottom: 0;"><b>{{ post.H1h3 }}</b></p>
            {% endif %}
            {% if post.H1h3text %}
              <p style="text-align: left;margin-top: 0;">{{ post.H1h3text}}</p>
            {% endif %}
            {% if post.H1h3img1 %}
              <div class="image-text-block">
                <img src="{{ post.H1h3img1 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H1h3img1text}}</i>
              </div>
            {% endif %}
            {% if post.H1h3img2 %}
              <div class="image-text-block">
                <img src="{{ post.H1h3img2 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H1h3img2text}}</i>
              </div>
            {% endif %}
            {% if post.H1h3img3 %}
              <div class="image-text-block">
                <img src="{{ post.H1h3img3 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H1h3img3text}}</i>
              </div>
            {% endif %}
            {% if post.H1h3img4 %}
              <div class="image-text-block">
                <img src="{{ post.H1h3img4 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H1h3img4text}}</i>
              </div>
            {% endif %}
            {% if post.H1h4 %}
              <p style="text-align: left;margin-bottom: 0;"><b>{{ post.H1h4 }}</b></p>
            {% endif %}
            {% if post.H1h4text %}
              <p style="text-align: left;margin-top: 0;">{{ post.H1h4text}}</p>
            {% endif %}
            {% if post.H1h4img1 %}
              <div class="image-text-block">
                <img src="{{ post.H1h4img1 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H1h4img1text}}</i>
              </div>
            {% endif %}
            {% if post.H1h4img2 %}
              <div class="image-text-block">
                <img src="{{ post.H1h4img2 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H1h4img2text}}</i>
              </div>
            {% endif %}
            {% if post.H1h4img3 %}
              <div class="image-text-block">
                <img src="{{ post.H1h4img3 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H1h4img3text}}</i>
              </div>
            {% endif %}
            {% if post.H1h4img4 %}
              <div class="image-text-block">
                <img src="{{ post.H1h4img4 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H1h4img4text}}</i>
              </div>
            {% endif %}

            {% if post.H2 %}
              <h3>{{ post.H2}}</h3><br>
            {% endif %}
            {% if post.H2h1 %}
              <p style="text-align: left;margin-bottom: 0;"><b>{{ post.H2h1 }}</b></p>
            {% endif %}
            {% if post.H2h1text %}
              <p style="text-align: left;margin-top: 0;">{{ post.H2h1text}}</p>
            {% endif %}
            {% if post.H2h1img1 %}
              <div class="image-text-block">
                <img src="{{ post.H2h1img1 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H2h1img1text}}</i>
              </div>
            {% endif %}
            {% if post.H2h1img2 %}
              <div class="image-text-block">
                <img src="{{ post.H2h1img2 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H2h1img2text}}</i>
              </div>
            {% endif %}
            {% if post.H2h1img3 %}
              <div class="image-text-block">
                <img src="{{ post.H2h1img3 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H2h1img3text}}</i>
              </div>
            {% endif %}
            {% if post.H2h1img4 %}
              <div class="image-text-block">
                <img src="{{ post.H2h1img4 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H2h1img4text}}</i>
              </div>
            {% endif %}
            {% if post.H2h2 %}
              <p style="text-align: left;margin-bottom: 0;"><b>{{ post.H2h2 }}</b></p>
            {% endif %}
            {% if post.H2h2text %}
              <p style="text-align: left;margin-top: 0;">{{ post.H2h2text}}</p>
            {% endif %}
            {% if post.H2h2img1 %}
              <div class="image-text-block">
                <img src="{{ post.H2h2img1 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H2h2img1text}}</i>
              </div>
            {% endif %}
            {% if post.H2h2img2 %}
              <div class="image-text-block">
                <img src="{{ post.H2h2img2 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H2h2img2text}}</i>
              </div>
            {% endif %}
            {% if post.H2h2img3 %}
              <div class="image-text-block">
                <img src="{{ post.H2h2img3 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H2h2img3text}}</i>
              </div>
            {% endif %}
            {% if post.H2h2img4 %}
              <div class="image-text-block">
                <img src="{{ post.H2h2img4 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H2h2img4text}}</i>
              </div>
            {% endif %}
            {% if post.H2h3 %}
              <p style="text-align: left;margin-bottom: 0;"><b>{{ post.H2h3 }}</b></p>
            {% endif %}
            {% if post.H2h3text %}
              <p style="text-align: left;margin-top: 0;">{{ post.H2h3text}}</p>
            {% endif %}
            {% if post.H2h3img1 %}
              <div class="image-text-block">
                <img src="{{ post.H2h3img1 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H2h3img1text}}</i>
              </div>
            {% endif %}
            {% if post.H2h3img2 %}
              <div class="image-text-block">
                <img src="{{ post.H2h3img2 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H2h3img2text}}</i>
              </div>
            {% endif %}
            {% if post.H2h3img3 %}
              <div class="image-text-block">
                <img src="{{ post.H2h3img3 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H2h3img3text}}</i>
              </div>
            {% endif %}
            {% if post.H2h3img4 %}
              <div class="image-text-block">
                <img src="{{ post.H2h3img4 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H2h3img4text}}</i>
              </div>
            {% endif %}
            {% if post.H2h4 %}
              <p style="text-align: left;margin-bottom: 0;"><b>{{ post.H2h4 }}</b></p>
            {% endif %}
            {% if post.H2h4text %}
              <p style="text-align: left;margin-top: 0;">{{ post.H2h4text}}</p>
            {% endif %}
            {% if post.H2h4img1 %}
              <div class="image-text-block">
                <img src="{{ post.H2h4img1 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H2h4img1text}}</i>
              </div>
            {% endif %}
            {% if post.H2h4img2 %}
              <div class="image-text-block">
                <img src="{{ post.H2h4img2 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H2h4img2text}}</i>
              </div>
            {% endif %}
            {% if post.H2h4img3 %}
              <div class="image-text-block">
                <img src="{{ post.H2h4img3 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H2h4img3text}}</i>
              </div>
            {% endif %}
            {% if post.H2h4img4 %}
              <div class="image-text-block">
                <img src="{{ post.H2h4img4 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H2h4img4text}}</i>
              </div>
            {% endif %}

            {% if post.H3 %}
              <h3>{{ post.H3}}</h3><br>
            {% endif %}
            {% if post.H3h1 %}
              <p style="text-align: left;margin-bottom: 0;"><b>{{ post.H3h1 }}</b></p>
            {% endif %}
            {% if post.H3h1text %}
              <p style="text-align: left;margin-top: 0;">{{ post.H3h1text}}</p>
            {% endif %}
            {% if post.H3h1img1 %}
              <div class="image-text-block">
                <img src="{{ post.H3h1img1 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H3h1img1text}}</i>
              </div>
            {% endif %}
            {% if post.H3h1img2 %}
              <div class="image-text-block">
                <img src="{{ post.H3h1img2 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H3h1img2text}}</i>
              </div>
            {% endif %}
            {% if post.H3h1img3 %}
              <div class="image-text-block">
                <img src="{{ post.H3h1img3 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H3h1img3text}}</i>
              </div>
            {% endif %}
            {% if post.H3h1img4 %}
              <div class="image-text-block">
                <img src="{{ post.H3h1img4 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H3h1img4text}}</i>
              </div>
            {% endif %}
            {% if post.H3h2 %}
              <p style="text-align: left;margin-bottom: 0;"><b>{{ post.H3h2 }}</b></p>
            {% endif %}
            {% if post.H3h2text %}
              <p style="text-align: left;margin-top: 0;">{{ post.H3h2text}}</p>
            {% endif %}
            {% if post.H3h2img1 %}
              <div class="image-text-block">
                <img src="{{ post.H3h2img1 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H3h2img1text}}</i>
              </div>
            {% endif %}
            {% if post.H3h2img2 %}
              <div class="image-text-block">
                <img src="{{ post.H3h2img2 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H3h2img2text}}</i>
              </div>
            {% endif %}
            {% if post.H3h2img3 %}
              <div class="image-text-block">
                <img src="{{ post.H3h2img3 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H3h2img3text}}</i>
              </div>
            {% endif %}
            {% if post.H3h2img4 %}
              <div class="image-text-block">
                <img src="{{ post.H3h2img4 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H3h2img4text}}</i>
              </div>
            {% endif %}
            {% if post.H3h3 %}
              <p style="text-align: left;margin-bottom: 0;"><b>{{ post.H3h3 }}</b></p>
            {% endif %}
            {% if post.H3h3text %}
              <p style="text-align: left;margin-top: 0;">{{ post.H3h3text}}</p>
            {% endif %}
            {% if post.H3h3img1 %}
              <div class="image-text-block">
                <img src="{{ post.H3h3img1 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H3h3img1text}}</i>
              </div>
            {% endif %}
            {% if post.H3h3img2 %}
              <div class="image-text-block">
                <img src="{{ post.H3h3img2 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H3h3img2text}}</i>
              </div>
            {% endif %}
            {% if post.H3h3img3 %}
              <div class="image-text-block">
                <img src="{{ post.H3h3img3 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H3h3img3text}}</i>
              </div>
            {% endif %}
            {% if post.H3h3img4 %}
              <div class="image-text-block">
                <img src="{{ post.H3h3img4 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H3h3img4text}}</i>
              </div>
            {% endif %}
            {% if post.H3h4 %}
              <p style="text-align: left;margin-bottom: 0;"><b>{{ post.H3h4 }}</b></p>
            {% endif %}
            {% if post.H3h4text %}
              <p style="text-align: left;margin-top: 0;">{{ post.H3h4text}}</p>
            {% endif %}
            {% if post.H3h4img1 %}
              <div class="image-text-block">
                <img src="{{ post.H3h4img1 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H3h4img1text}}</i>
              </div>
            {% endif %}
            {% if post.H3h4img2 %}
              <div class="image-text-block">
                <img src="{{ post.H3h4img2 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H3h4img2text}}</i>
              </div>
            {% endif %}
            {% if post.H3h4img3 %}
              <div class="image-text-block">
                <img src="{{ post.H3h4img3 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H3h4img3text}}</i>
              </div>
            {% endif %}
            {% if post.H3h4img4 %}
              <div class="image-text-block">
                <img src="{{ post.H3h4img4 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H3h4img4text}}</i>
              </div>
            {% endif %}

            {% if post.H4 %}
              <h3>{{ post.H4}}</h3><br>
            {% endif %}
            {% if post.H4h1 %}
              <p style="text-align: left;margin-bottom: 0;"><b>{{ post.H4h1 }}</b></p>
            {% endif %}
            {% if post.H4h1text %}
              <p style="text-align: left;margin-top: 0;">{{ post.H4h1text}}</p>
            {% endif %}
            {% if post.H4h1img1 %}
              <div class="image-text-block">
                <img src="{{ post.H4h1img1 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H4h1img1text}}</i>
              </div>
            {% endif %}
            {% if post.H4h1img2 %}
              <div class="image-text-block">
                <img src="{{ post.H4h1img2 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H4h1img2text}}</i>
              </div>
            {% endif %}
            {% if post.H4h1img3 %}
              <div class="image-text-block">
                <img src="{{ post.H4h1img3 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H4h1img3text}}</i>
              </div>
            {% endif %}
            {% if post.H4h1img4 %}
              <div class="image-text-block">
                <img src="{{ post.H4h1img4 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H4h1img4text}}</i>
              </div>
            {% endif %}
            {% if post.H4h2 %}
              <p style="text-align: left;margin-bottom: 0;"><b>{{ post.H4h2 }}</b></p>
            {% endif %}
            {% if post.H4h2text %}
              <p style="text-align: left;margin-top: 0;">{{ post.H4h2text}}</p>
            {% endif %}
            {% if post.H4h2img1 %}
              <div class="image-text-block">
                <img src="{{ post.H4h2img1 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H4h2img1text}}</i>
              </div>
            {% endif %}
            {% if post.H4h2img2 %}
              <div class="image-text-block">
                <img src="{{ post.H4h2img2 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H4h2img2text}}</i>
              </div>
            {% endif %}
            {% if post.H4h2img3 %}
              <div class="image-text-block">
                <img src="{{ post.H4h2img3 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H4h2img3text}}</i>
              </div>
            {% endif %}
            {% if post.H4h2img4 %}
              <div class="image-text-block">
                <img src="{{ post.H4h2img4 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H4h2img4text}}</i>
              </div>
            {% endif %}
            {% if post.H4h3 %}
              <p style="text-align: left;margin-bottom: 0;"><b>{{ post.H4h3 }}</b></p>
            {% endif %}
            {% if post.H4h3text %}
              <p style="text-align: left;margin-top: 0;">{{ post.H4h3text}}</p>
            {% endif %}
            {% if post.H4h3img1 %}
              <div class="image-text-block">
                <img src="{{ post.H4h3img1 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H4h3img1text}}</i>
              </div>
            {% endif %}
            {% if post.H4h3img2 %}
              <div class="image-text-block">
                <img src="{{ post.H4h3img2 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H4h3img2text}}</i>
              </div>
            {% endif %}
            {% if post.H4h3img3 %}
              <div class="image-text-block">
                <img src="{{ post.H4h3img3 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H4h3img3text}}</i>
              </div>
            {% endif %}
            {% if post.H4h3img4 %}
              <div class="image-text-block">
                <img src="{{ post.H4h3img4 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H4h3img4text}}</i>
              </div>
            {% endif %}
            {% if post.H4h4 %}
              <p style="text-align: left;margin-bottom: 0;"><b>{{ post.H4h4 }}</b></p>
            {% endif %}
            {% if post.H4h4text %}
              <p style="text-align: left;margin-top: 0;">{{ post.H4h4text}}</p>
            {% endif %}
            {% if post.H4h4img1 %}
              <div class="image-text-block">
                <img src="{{ post.H4h4img1 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H4h4img1text}}</i>
              </div>
            {% endif %}
            {% if post.H4h4img2 %}
              <div class="image-text-block">
                <img src="{{ post.H4h4img2 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H4h4img2text}}</i>
              </div>
            {% endif %}
            {% if post.H4h4img3 %}
              <div class="image-text-block">
                <img src="{{ post.H4h4img3 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H4h4img3text}}</i>
              </div>
            {% endif %}
            {% if post.H4h4img4 %}
              <div class="image-text-block">
                <img src="{{ post.H4h4img4 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <i>{{ post.H4h4img4text}}</i>
              </div>
            {% endif %}

            <br>
            <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
