<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">

            <h2>{{ post.title }}</h2>
            <h4>{{ post.subtitle }}</h4>
            <!-- <hr class="star-primary">  -->
            <img src="{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">

            {% if post.ProjectOverview %}
            <p style="text-align: left;">{{ post.ProjectOverview }}</p>
            {% endif %}

            <ul class="list-inline item-details">
              {% if post.client %}
              <li>Client:
                <strong>{{ post.client }}</strong>
              </li>
              {% endif %}
              {% if post.course%}
              <li>Course:
                <strong>{{ post.course }}</strong>
              </li>
              {% endif %}
              {% if post.team %}
              <li>Team:
                <strong>{{ post.team }}</strong>
              </li>
              {% endif %}
              {% if post.deliverables %}
              <li>Deliverables:
                <strong>{{ post.deliverables}}</strong>
              </li>
              {% endif %}
            </ul>

            {% if post.H1 %}
            <h4>{{ post.H1}}</h4><br>
            {% endif %}
            {% if post.H1h1 %}
            <p style="text-align: left;"><b>{{ post.H1h1 }}</b></p>
            {% endif %}
            {% if post.H1h1text %}
            <p style="text-align: left;">{{ post.H1h1text}}</p>
            {% endif %}
            {% if post.H1h1img1 %}
            <img src="img/{{ post.H1h1img1 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% endif %}
            {% if post.H1h1img2 %}
            <img src="img/{{ post.H1h1img2 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% endif %}
            {% if post.H1h1img3 %}
            <img src="img/{{ post.H1h1img3 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% endif %}
            {% if post.H1h1img4 %}
            <img src="img/{{ post.H1h1img4 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% endif %}
            {% if post.H1h2 %}
            <p style="text-align: left;"><b>{{ post.H1h2 }}</b></p>
            {% endif %}
            {% if post.H1h2text %}
            <p style="text-align: left;">{{ post.H1h2text}}</p>
            {% endif %}
            {% if post.H1h2img1 %}
            <img src="img/{{ post.H1h2img1 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% endif %}
            {% if post.H1h2img2 %}
            <img src="img/{{ post.H1h2img2 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% endif %}
            {% if post.H1h2img3 %}
            <img src="img/{{ post.H1h2img3 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% endif %}
            {% if post.H1h1img4 %}
            <img src="img/{{ post.H1h2img4 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% endif %}

            {% if post.H2 %}
            <h4>{{ post.H2}}</h4><br>
            {% endif %}
            {% if post.H2h1 %}
            <p style="text-align: left;"><b>{{ post.H2h1 }}</b></p>
            {% endif %}
            {% if post.H2h1text %}
            <p style="text-align: left;">{{ post.H2h1text}}</p>
            {% endif %}
            {% if post.H2h1img1 %}
            <img src="img/{{ post.H2h1img1 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% endif %}
            {% if post.H2h1img2 %}
            <img src="img/{{ post.H2h1img2 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% endif %}
            {% if post.H2h1img3 %}
            <img src="img/{{ post.H2h1img3 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% endif %}
            {% if post.H2h1img4 %}
            <img src="img/{{ post.H2h1img4 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% endif %}
            {% if post.H2h2 %}
            <p style="text-align: left;"><b>{{ post.H2h2 }}</b></p>
            {% endif %}
            {% if post.H2h2text %}
            <p style="text-align: left;">{{ post.H2h2text}}</p>
            {% endif %}
            {% if post.H2h2img1 %}
            <img src="img/{{ post.H2h2img1 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% endif %}
            {% if post.H2h2img2 %}
            <img src="img/{{ post.H2h2img2 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% endif %}
            {% if post.H2h2img3 %}
            <img src="img/{{ post.H2h2img3 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% endif %}
            {% if post.H2h1img4 %}
            <img src="img/{{ post.H2h2img4 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% endif %}



            <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
