<!-- Portfolio Grid Section -->
<!-- Datum moet vooraan in YYYY-MM-DD formaat staan in markdown file name -->
<!-- Order is based on order in explorer, the lowest is read first, so order it with dates then alphabetical -->
<!-- Don't forget to insert modal ID for new posts -->
<section id="portfolio">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Portfolio</h2>
      </div>
    </div>
    <div class="portfolio-flex-row">
      {% for post in site.posts limit: 6 %}
      <div class="portfolio-flex-item portfolio-item">
        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
          <img src="{{ post.small-img }}" class="img-responsive portfolio-image" alt="{{ post.alt }}">
          <h3 class="portfolio-title">{{ post.title }}</h3>
        </a>
      </div>
      {% endfor %}
    </div>
    
    <!-- Hidden row for the last 3 items -->
    <div id="morePortfolio" class="portfolio-flex-row hidden-row">
      {% for post in site.posts offset: 6 %}
      <div class="portfolio-flex-item portfolio-item">
        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
          <img src="{{ post.small-img }}" class="img-responsive portfolio-image" alt="{{ post.alt }}">
          <h3 class="portfolio-title">{{ post.title }}</h3>
        </a>
      </div>
      {% endfor %}
    </div>

    <!-- See More button -->
    <button id="seeMoreBtnPort" class="btn btn-success">See More</button>
  </div>
</section>

<style>
 /* Flexbox Portfolio Grid CSS*/
.portfolio-flex-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

/* Initially hide the hidden-row */
#morePortfolio {
  display: none; /* Keep it hidden initially */
}

/* Show flex layout when the button is clicked */
#morePortfolio.show {
  display: flex; /* Ensure it follows the flexbox grid layout */
}

/* Ensure the grid layout is the same for hidden items */
@media (min-width: 640px) {
  .portfolio-flex-item {
    flex: 1 0 49%;
    max-width: 49%;
  }
}

@media (min-width: 960px) {
  .portfolio-flex-item {
    flex: 1 0 32%;
    max-width: 32%;
  }
}
  </style>
  
  <!-- See More button JS script -->
  <script>
    document.getElementById("seeMoreBtnPort").addEventListener("click", function() {
      var moreText = document.getElementById("morePortfolio");
      var btnText = this;
  
      if (moreText.classList.contains("show")) {
        moreText.classList.remove("show");
        btnText.textContent = "See More";
      } else {
        moreText.classList.add("show");
        btnText.textContent = "See Less";
      }
    });
  </script>